#root {
  text-align: center;
}

.row{
  display:inline-block;
}

.empty-cell{
    margin: 2px;
    padding: 2px;
}

.empty-square{
    height: 50px;
    width: 50px;
    background-color: aquamarine;
}

.food{
  height: 50px;
  width: 50px;
  background-color: red;
}

.snake-body{
  height: 50px;
  width: 50px;
  background-color: blue;
}
